<!-- <form class="register form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <label for="confirmPass" class="sr-only">Password</label>
  <input type="password" id="confirmPass" class="form-control" placeholder="Confirm password" required>

  <a [routerLink]="['/login']" class="float-right">Login</a>
  <button class="btn btn-primary btn-block" type="submit">Register</button>  
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form> -->

<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()" #registrationForm="ngForm" class="register form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
    <label for="email" class="sr-only">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Email address" required [(ngModel)]="model.email" name="email"  #email="ngModel">
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
      Email is required
    </div>

    <label for="password" class="sr-only">Password</label>
    <input type="password" class="form-control" id="password" [(ngModel)]="model.password" name="password" 
      placeholder="Password" required>

    <label for="matchingPassword" class="sr-only">Confirm Password</label>
    <input type="password" class="form-control" id="matchingPassword" [(ngModel)]="model.matchingPassword" name="matchingPassword" 
      placeholder="Confirm password" required>

    <a [routerLink]="['/login']" class="float-right mb-3">Login</a>
    <button type="submit" class="btn btn-primary btn-block" [disabled]="!registrationForm.form.valid">Submit</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
</div>  